
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .left-section {
    flex: 1;
    padding: 20px;
    text-align: center;
  }

  .description {
    margin-top: 20px;
  }
  
  .description h2 {
    font-size: 24px;
    color: #fff;
  }
  
  .description p {
    font-size: 18px;
    color: #7fff00;
  }

  .productpic{
    width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
  }
  
  .right-detail{
    flex: 1;
    margin-top: 25px;
  }

  .right-section {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
  }
  
  .right-section h1 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .note {
    font-size: 16px;
    color: black;
  }

  hr {
    margin-bottom: 15px;
  }
  
  .price {
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
}
  

  .buy-button {
    margin: 20px auto;
    background-color: white;
    color: black;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'prompt';
  }
  
  .buy-button:hover {
    background-color: #ffe600;
    transform: scale(0.98);
    transition: transform 0.3s ease;
  }

  .confirmbtn,.cancelbtn{
    font-family: 'prompt';
    font-size: 19px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 5px 25px;
    border: none;
    border-radius: 4px;
  }

  .confirmbtn{
    background-color: #ffe600;
  }

  .confirmbtn:hover{
    background-color: #f3dc12;
    transform: scale(0.98);
    transition: transform 0.3s ease;
  }

  .cancelbtn:hover{
    background-color: #e1e1e1;
    transform: scale(0.98);
    transition: transform 0.3s ease;
  }

  .confirmicon{
    margin-top: 30px;
  }